---
import {getCollection, render} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';


export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

---

<Layout>
	<Nav />
		  <h1>{post.data.title}</h1>
		  <Content />
  	<Footer/>
</Layout>